{% from 'form_helper.html' import displayField %}
{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %} 
    <h1>Register with the App to Get Started!!</h1>
    <form action="{{ url_for('index') }}" method="POST">
        {{ displayField( form.username, 'Username', autocomplete='off', autofocus=true )}}
        {{ displayField( form.password, 'Password' )}}
        {{ displayField( form.confirm, 'Confirm Password' )}}
        <div>
            {{ form.submit_button }}
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock %}